@model Ship

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Letter">
    <label asp-for="letter"></label>
    <input asp-for="letter" id="inputField" />
    <span asp-validation-for="letter"></span>
</form>

@if(ViewBag.Message != null)
{
    <div>
        <label for="id">Type:</label>
        <input value="@ViewBag.Message" id="#mess" />
    </div>
}



