@model IEnumerable<int>

@{
    ViewData["Title"] = "Home Page";
}

<h2>Number List</h2>

<form id="reverseForm" asp-action="Loop" method="post">
    <button type="submit">Run</button>
    
   
    <textarea rows="5" cols="20" readonly>
        @foreach (var number in Model)
        {
            @number 
            <br />
        }
    </textarea>
   
</form>





