@model Earthquake

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Earthquake">
    <label asp-for="Magnitude"></label>
    <input asp-for="Magnitude" id="inputField" />
    <span asp-validation-for="Magnitude"></span>
</form>

@if(ViewBag.Message != null)
{
    <div>
        <label for="id">Effect:</label>
        <input value="@ViewBag.Message" id="#mess" />
    </div>
}



