@model Calculator


    <form method="post">
    

        <label asp-for="fisrtNumber"></label>
        <input asp-for="fisrtNumber" />
        <span asp-validation-for="fisrtNumber"></span>


        <label asp-for="SecondNumber"></label> 
        <input asp-for="SecondNumber" />
        <span asp-validation-for="SecondNumber"></span>

        <button type="submit" formaction="/Home/Add" class="btn btn-primary">+</button>
        <button type="submit" formaction="/Home/Minus" class="btn btn-primary">-</button>
        <button type="submit" formaction="/Home/Multi" class="btn btn-primary">*</button>
        <button type="submit" formaction="/Home/Division" class="btn btn-primary">/</button>
  



  

    </form>


@if (Model != null)
{
    

    <input asp-for="Result" readonly />
}

