@model ICollection<int>


<form asp-action="Loop" method="post">
    <button type="submit">Run</button>
    <textarea>
        @foreach(var items in Model)
        {
       
                 @items
       
        }
     </textarea>

</form>





