@model Grade

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="grade">
    <label asp-for="grade"></label>
    <input asp-for="grade" id="inputField" />
    <span asp-validation-for="grade"></span>
</form>

@if(ViewBag.Message != null)
{
    <div>
        <label for="id">Equivalent:</label>
        <input value="@ViewBag.Message" id="#mess" readonly />
    </div>
}



