@model Aircraft

@{
    ViewData["Title"] = "Home Page";
}

<form asp-action="Aircraft" id="aircraftForm">
    <label asp-for="Number"></label>
    <input asp-for="Number" id="inputField" />
    <span asp-validation-for="Number"></span>
</form>

@if(ViewBag.Message != null)
{
    <div>
        <label for="id">Type:</label>
        <input value="@ViewBag.Message" id="#mess" />
    </div>
}



