
@model ASP_HANDS_ON_THIRDYEAR.Models.Convert
    <form asp-action="Convert">
        <label asp-for="Peso"></label>
        <input asp-for="Peso" />
        <span asp-validation-for="Peso"></span>

        


        <button type="submit">Convert</button>

    </form>

    <label asp-for="Convertion">Convertion to Dollar:</label>
    <input asp-for="Convertion" readonly />
